* {
	box-sizing: border-box;
}

body {
	background-color:rgb(73, 67, 67);
}

.title {
 	text-align: center;
	font-size: 2em;
	color: #fff;
}

.field {
	display: flex;
	flex-wrap: wrap;
	width: 70vmin;
	height: 70vmin;
	border: 1px solid black;
	margin: auto;
	background-color: rgb(194, 201, 162);
}

.cell {
	width: 5%;
	height: 5%;
	box-sizing: border-box;
	border: 2px solid rgb(248, 0, 0);
}

.goblin {
	background-image: url('./goblin/goblin.png');
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}